<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="lipafare" transaction-type="RESOURCE_LOCAL">

        <class>com.tracom.lipafare.entity.Customers</class>
        <class>com.tracom.lipafare.entity.Vehicles</class>
        <class>com.tracom.lipafare.entity.VehiclePermissionRegister</class>
    </persistence-unit>
</persistence>
